.Updatecontact {
  margin: 2rem 1rem;

  form {
    max-width: 500px;
    margin: 0 auto;
  }

  &_form {
    background-color: #f5f5f5;
    border-radius: 6px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }

  &_field {
    width: 100%;

    &-icon {
      position: relative;
      bottom: -6px;
    }
  }

  &_title {
    font-size: 1.5rem;
  }

  &_actions {
    display: flex;
    // padding: 1rem;
    justify-content: space-between;

    button {
      width: 100%;

      &:first-of-type {
        margin-right: 1rem;
      }
    }
  }
}
